@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
button:hover{
  background-color: #3a3833;
}

.navbar{
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.cart-item a{
  color: black !important;
}

.navbar-light .navbar-nav .nav-link{
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i.active{
  color: #0b3b47;
  transform: scale(1.2);
}


.navbar i{
  font-size: 1.2rem;
  padding: 0.7px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Mobile Nav*/
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

#bar{
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  transition: 0.3s ease;
  color: black;
}

#bar:hover,
#bar.active{
  color: #fff;
}

@media only screen and (max-width: 991px){
  body > nav > div > button:hover,
  body > nav > div > button:focus{
  background-color: #0b3b47;
  }

  body > nav > div > button:hover #bar,
  body > nav > div > button:focus #bar{
      color: #fff;
  }

  #navbarSupportedContent > ul{
      margin: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
  }

  #navbarSupportedContent > ul > li:nth-child(n) > a{
      padding: 10px 0;
  }
}

/* Search Popup */

nav .search-form{
  position: absolute;
  top:80px; 
  right: -100%;
  width: 30rem;
  height: 3rem;
  /* background: #fff; */
  display: none;
  align-items: center;
  box-shadow: var(--box-shadow); 
}
/* nav .search-form.active{
  right: 1rem;
  transition: .4s linear;
  display: flex;
  justify-content: center;
  background-color: #fff;
} 
*/

nav .search-form.active {
  right: 1rem;
  transition: .4s linear;
  display: flex;
  justify-content: center;
   /* Change this to your desired color */
}


nav .search-form input{
  border: 1px solid blue;
  border-radius: 10px;
  background: transparent;
  outline: none;
  height:  75%;
  width: 75%;
  background: none;
  text-transform:none;
  padding: 0 1rem;
}
nav .search-form label{
  font-size: 1.5rem;
  padding-right: 1rem;
  color:black;
  cursor: pointer;
}
nav .search-form label:hover{
  color: var(--secondary);
}
