<!-- Nav -->
{% load static %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-white py-3 fixed-top">
          <div class="container">
            <a href= "/"><img class="logo" src = "{% static "image/logo/logo.png" %}" alt = 'logo' style="width: 145px; height: 50px;"</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span><i id="bar" class="fa-solid fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                  <a class="nav-link me-4 selected" aria-current="page" href="{% url 'landingPage' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4 {% if request.path == '/shop/' %}selected{% endif %}" aria-current="page" href="{% url 'shop' %}">Shop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" aria-current="page" href="{% url 'contactus' %}">Contact Us</a>
                </li>
                <li class="nav-item cart-item">
                  <i id="searchIcon" class="fa-solid fa-magnifying-glass me-4"></i>
                  <a href= "{% url 'cart' %}"><i class="fa-solid fa-cart-shopping me-4"></i></a>
                </li>

                
                <form class="search-form" action="{% url 'search' %}" method="POST">
                  {% csrf_token %}
                  <input type="search" id="search-box" name="search" placeholder="Search Here...">
                </form>
                
                {% comment %} <li class="nav-item">
                  {% if request.user.is_authenticated %}
                  <a class="nav-link me-4" aria-current="page" href="{% url "logout" %}">Log Out</a>
                  {% else %}
                  <a class="nav-link me-4" aria-current="page" href="{% url "signin" %}">Sign In</a>
                  {% endif %}
                </li> {% endcomment %}

                <li class="nav-item dropdown user">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fa-solid fa-user"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
                     <a class="dropdown-item {% if request.resolver_match.url_name == 'changePassword' %}active{% endif %}" href="{% url 'changePassword' %}">Change Password</a>
                     <a class="dropdown-item {% if request.resolver_match.url_name == 'transactionHistory' %}active{% endif %}" href="{% url 'transactionHistory' %}">Transaction History</a>
                     {% comment %} <li class="nav-item"> {% endcomment %}
                      {% if request.user.is_authenticated %}
                      <a class="dropdown-item" aria-current="page" href="{% url "logout" %}">Log Out</a>
                      {% else %}
                      <a class="dropdown-item" aria-current="page" href="{% url "signin" %}">Sign In</a>
                      {% endif %}
                    {% comment %} </li> {% endcomment %}
                  </div>
                 </li>

            </div>
          </div>
      </nav>
      <script>
        {% comment %} let searchBtn = document.querySelector('.search-form'); {% endcomment %}
        const searchIcon = document.getElementById('searchIcon');
        {% comment %} document.querySelector('#searchIcon').onclick = () =>
        {
            searchBtn.classList.toggle('active');
        } {% endcomment %}
        const searchForm = document.querySelector(".search-form");
        searchIcon.addEventListener("click", () => {
          searchForm.classList.add('active');
        });

        {% comment %} const searchIcon = document.getElementById("searchIcon"); {% endcomment %}
        document.addEventListener("click", function(event) {
          const searchBox = document.getElementById("search-box");
          if (event.target == searchForm) {
            console.log("Is search form...");
          }
          
          // Check if the click event target is not the search icon or the search input box
          if (event.target !== searchIcon && event.target !== searchBox) {
            searchForm.classList.remove('active'); // Hide the search input box
            console.log("outside the form...");
          }

        });
        {% comment %} searchForm.classList.remove('active'); {% endcomment %}
      </script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>